prefix_rule(
    pattern = ["curl", "http://165.232.191.255:9654"],
    decision = "allow",
    match = [
        "curl http://165.232.191.255:9654",
        "curl http://165.232.191.255:9654 --json tittle,body,comments",
    ],
)
